* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    color: white;
  }

html {
    background-color: rgb(66, 66, 66);
    font-family: robotoslab;
}

@font-face {
    font-family: robotoslab;
    src: url(assets/fonts/RobotoSlab-VariableFont_wght.ttf);
}

@font-face {
    font-family: tiro;
    src: url(assets/fonts/TiroBangla-Regular.ttf);
}

#title {
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

#title a {
    font-size: small;
}

a:hover {
    color: white;
    background-color: black;
    padding: 2px;
}

.tothetop {
    float: right;
    text-decoration: none;
    font-size: 40px;
    color: black;
    margin-right: 10px;
}

.tothetop:hover {
    color: black;
    background-color: white;

}

#wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 805px;
}




.blogbox {
    background-color: lightblue;
    border-style: solid;
    border-color:black;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 40px;
}




img {
    margin-top: 30px;
    
}



.posttitle {
    color: black;
    font-style: italic;
}

.dateposted {
    color:blueviolet;
}


.postcontent {
    font-family: tiro;
    color: black;
    font-size: initial;
}






footer {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 10px;
    font-style: italic;
    color:white;
    letter-spacing: 1px;
    line-height: 12px;
    margin-top: 6px;
    margin-bottom: 16px;
    text-align: center;
}







@media (min-width: 320px) and (max-width: 999px) {

    .blogbox {
        width: 100%;
    }

    #wrapper {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }

}
  



@media (min-width: 1000px) {

    

}

